.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .top{
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
    align-items: center;
  }

  .btn-main{
    border-radius: 5px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 400;
    height: 57px;
    width: 244;
    padding: 17px 24px;

  }

  .top-title{
    font-size: 28px;
    font-weight: bolder;
  }

  .main-title{
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 24px;
  }
  .main-description{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 32px;
    opacity: 80%;
  }
  .mid-main{
    background-image: url(B10A1-Challenge-Begins/assets/Hero-bg.png);
    margin: 0px;
    height: 652px;
    width: 1440px;
    text-align: center;
  }
  .main-div{
    padding: 26px 221px 45px 221px;
  }
  .btn-primary{
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #0D1321;
    color: white;
    height: 65px;
    width: 244px;
  }
  .titles{
    text-align: center;

  }

  .mid-section{
    margin: 74px 150px 90px 150px;
    background-color: rgb(242, 246, 248);
    border-radius: 16px;
    padding: 80px 100px;

  }
  .btn-m{
    font-weight: 600;
    font-size: 20px;
    height: 47px;
    width: 171px;
    padding: 12px 20px;
    margin-bottom: 58px;
    margin-top: 32px;
    
  }

.section-title{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 24px;

}


  .section-description{
   font-size: 15px;
   font-weight: 400;
   opacity: 80%;
   margin-bottom: 48px;
  }

.first{
    height: 336px;
    width: 946px;
    padding: 48px;
    background-color: white;
    display: flex;

}
.first-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: rgb(87, 83, 83);
    margin-top: 58px;
    
}
.first-description{
opacity: 70%;
font-size: 16px;
margin-bottom: 32px;
}

